@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Slabo+13px);
@font-face{
	font-family: AvenirNextBold;
	src: url(fonts/AvenirNextBold.otf);
}
body{
	font-size: 16px;
	text-align: center;
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
	background-color: #e3e0df;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 2.25em;
	line-height: 1.5em;
}
h2{
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #fff;
}
h3{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	color: #fff;
}
h4{
	font-family: 'Slabo 13px', serif;
	font-size: .9em;
	line-height: 1.5em;
	color: #fff;
}
h5{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	color: #00503C;
	letter-spacing: 0.03em;
	line-height: 1.5em;
}
p{
	font-family: 'Slabo 13px', serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #00503C;
}
a:link{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
ul{
	text-align: left;
}
li{
	font-family: 'AvenirNextBold', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1px;
	color: #996600;
	display: block;
	padding: 5px 15px;
}
li a:link, li a:visited{
	text-decoration: none;
	color: #996600;
}
li a:hover{
	text-decoration: none;
	color: #00503C;
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
span{
	font-size: 18px;
	color: #fff;
}
section{
	padding: 50px 100px 0;
}
header{
	background-color: #fff;
	position: relative;
	padding: 15px 0;
}
nav{
	float: left;
	position: absolute;
	bottom: 0;
	padding: 0 0 15px 25px;
}
footer{
	padding: 10px 0 10px 40px;
	background-color: white;
	text-align: center;
}
footer p{
	font-size: 0.8em;
}
hr{
	border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
#contact{
	padding: 50px;
	background-color: #333;
	color: #C5EAD5;
}
#logo{
	display: block;
	margin: 0 auto;
}
#shopintro{
	background-color: #00503C;
	color: #fff;
	height: 425px;
}
#shopintro img{
	padding-bottom: 50px;
}
/*shop.html style*/
#shop{
	background-color: red;
	text-align: left;
}
/* home story section image*/
#storyintro{
	background: url('images/story_d.jpg') no-repeat top right;
	background-size: cover;
	height: 425px;
}
/* home story section text paragraph*/
#storytext{
	width: 400px;
	margin: 0 auto;
}
/* home product feature repeated styles*/
#babyspoon, #petitespoon, #coffeescoop, #cookingspoon{
	height: 425px;
	padding: 50px 50px 0;
}
#babyspoon{
	background: url('images/babyspoon_d.jpg') no-repeat bottom center;
	background-size: cover;
}
/* home product feature section image*/
#petitespoon{
	background: url('images/petitespoon_d.jpg') no-repeat bottom center;
	background-size: cover;
}
/* home product feature section image*/
#coffeescoop{
	background: url('images/coffeescoop_d.jpg') no-repeat bottom center;
	background-size: cover;
}
/* home product feature section image*/
#cookingspoon{
	background: url('images/cookingspoon_d.jpg') no-repeat bottom center;
	background-size: cover;
}
/* home product feature section text paragraph*/
.productdescrip{
	width: 300px;
	margin: 0 auto;
}
/*shop.html style -- used for 3 column product grid*/
.productgrid{
	float: left;
	width: 31.33%;
	padding: 0% 1%;
}
/*shop.html style -- used for 3 column product grid*/
.productgrid img{
	width: 100%;
	max-width: 400px;
	position: relative;
}
.productgrid h3{
	position: relative;
	top: -45px;
	color: #fff;
}
.productgrid a{
	text-decoration: none;
}
.productgrid h3:hover{
	text-decoration: none;
	color: #C5EAD5;
}
.product img{
	width: 100%;
}
/*individual product pages --i.e. petitespoon.html*/
.product{
	float: left;
	width: 92%;
	text-align: left;
	padding: 2% 4% 0;
}
.product h2{
	color: #00503C;
}
/*story page styles*/
.story{
	width: 92%;
	text-align: left;
	padding: 2% 4% 0;
	text-align: center;
	color: #00503C;
	overflow: hidden;
}
.storygrid{
	float: left;
	width: 25.33%;
	padding: 2% 4%;
}
.storygrid img{
	width: 100%;
}
/* home button styles*/
.buttonshop, .buttonstory, .buttonproduct{
	font-family: 'AvenirNextBold',sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	display: inline-block;
	border: 2px solid #C5EAD5;
	margin: 10px 0;
	padding: 5px 15px;
	color: #fff;
}
.buttonshop:hover{
    background: #C5EAD5;
    color: #00503C;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}	
.buttonstory{
	background-color: #996600;
	border: 2px solid #996600;
	color: #fff;
}
.buttonstory:hover{
    background: #996600;
    border: 2px solid #996600;
    color: #00503C;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}	
.buttonproduct{
	border: 2px solid #00503C;
	color: #00503C;
}
.buttonproduct:hover{
    background: #00503C;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}	
.wrapper{
	width: 100%;
	margin-bottom: 0;
	background-color: white;
}
.rule{
	width: 100%;
	padding: 0;
	margin: 0;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

/*media queries for tablet*/

@media only screen and (max-width: 768px){
#storyintro{
	background: url('images/story_t.jpg') no-repeat top right;
	background-size: cover;
	padding: 50px 50px 0;
	overflow: auto;
}
}

/*media queries for mobile*/

/*media queries for mobile universal styles*/
@media only screen and (max-width: 400px) {
header{
	padding: 0 0 20px 0;
}
nav{
	width: 400px;
	float: left;
	position: relative;
	padding: 0;
	background-color: #e3e0df;
	margin-bottom: 20px;
}
ul{
	text-align:center;
}
li{
	font-family: 'AvenirNextBold', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1px;
	color: #996600;
	display: inline-block;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	line-height: 1.4em;
}
h3{
}
section{
	height: 250px;
}
#logo img{
	height: 100px;
	display: block;
	margin: 0 auto;
}
/*media queries for mobile homepage styles*/
#shopintro{
	padding: 20px 20px 0;
	height: 300px;
}
#shopintro img{
	padding-bottom: 25px;
}
#storyintro{
	background: url('images/story_m.jpg') no-repeat top right;
	background-size: cover;
	padding: 20px 20px 0;
	height: 300px;
	overflow: auto;
}
#storytext{
	width: 300px;
	margin: 0 auto;
}
#babyspoon{
	background: url('images/babyspoon_m.jpg') no-repeat bottom center;
	padding: 20px 20px 0;
	height: 300px;
}
#petitespoon{
	background: url('images/petitespoon_m.jpg') no-repeat bottom center;
	padding: 20px 20px 0;
	height: 300px;
}
#coffeescoop{
	background: url('images/coffeescoop_m.jpg') no-repeat bottom center;
	padding: 20px 20px 0;
	height: 300px;
}
#cookingspoon{
	background: url('images/cookingspoon_m.jpg') no-repeat top center;
	padding: 20px 20px 0;
	height: 300px;
}
#contact{
	height: 50px;
}
/*media queries for mobile shop styles*/
.productgrid{
	float: none;
	width: 96%;
	padding: 0% 2%;
}

}

