<link href='https://fonts.googleapis.com/css?family=Lato:900italic,700italic,400italic,400,700,900' rel='stylesheet' type='text/css'>
body{
}
h1{
	font-family: 'Lato', sans-serif;
	font-size: 2.25em;
	line-height: 1.5em;
}
h2{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}
h3{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
}
a:link{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
section{
	height: 100vh;
}
header{
	margin: 0 0;
}
footer{
	background: #333333;
	padding: 50px 50px;
}
nav{
	background: #0092d0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	letter-spacing: 5px;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	height: 125px;
}
nav ul {
	text-align: right;
}
nav li {
	display: inline-block;
}
li{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 3px;
	color: #000;
	display: block;
	padding: 5px 15px;
	text-transform: uppercase;
}
li a:link, li a:visited{
	text-decoration: none;
	color: #000;
}
li a:hover{
	font-family: 'Lato', sans-serif; font-weight: 400;
	text-decoration: none;
	color: #82d6f4;
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#logo img{
	display: block;
	text-align: left;
	margin: 15px;
}
#event{
	background: #5a1b1d;
}
#mission{
	background: #fff;
}
#future{
	background: #0092d0;
}
#footer{
}
#footer a:link, a:visited{
	color: #000;
}

/* home button styles*/
.buttondonate, .buttonstory{
	font-family: 'Lato', sans-serif; font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	display: inline-block;
	border: 2px solid #fff;
	margin: 10px 0;
	padding: 5px 15px;
	color: #fff;
}
.buttondonate:hover{
    background: #fff;
    color: #0092d0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}	

